        <header>
          <h1>Sirius</h1>
          <h2>A distributed system library for managing application reference data</h2>
        </header>

        <section>
          <a href="https://github.com/Comcast/sirius/zipball/master" id="download-zip">Download .zip</a>
          <a href="https://github.com/Comcast/sirius/tarball/master" id="download-tar-gz">Download .tar.gz</a>
          <a href="https://github.com/Comcast/sirius" id="view-on-github">View on GitHub</a>
        </section>

        <hr>
